view{
    color: var(--themeColor);
}
.index_lunbolist{
    swiper{
        height: 340rpx;
        width: 750rpx;
        image{
            width: 100%;
            height: 100%;
        }
      }
}
.index_cateList{
    display: flex;
    navigator{
        flex: 1;
        image{
            width: 100%;
        }
    }

}
.index_floor{
    .index_floorGroup{
        .index_floor_title{
            image{
                width: 100%;
            }
        }
        .index_floor_list{
            overflow: hidden;
            navigator{
                float: left;
                width: 33%;
                /* 后4个超链接 */
                &:nth-last-child(-n+4){
                    height: 33.33vw * 386 / 232 / 2;
                    border: 1rpx solid white;
                }
                
                image{
                    width: 100%;
                    height: 100%;
                }
                
            }
        }
    }

}